<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>
<body>
    <h1>Add Dish</h1>
    <form method="POST">
        {% csrf_token %}

        <label>Dish name:</label><br>
        <input type="text" name="name">
        <br>

        <label>Dish description:</label><br>
        <input type="text" name="description">
        <br>

        <label>Dish price:</label><br>
        <input type="text" name="price">
        <br>

        <label>Dish image link:</label><br>
        <input type="text" name="image">
        <br>
        <br>
        
        <input type="submit" value="Submit">
      </form> 
    
</body>
</html>