{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>

<body>
    {% block body %}
    <form method="POST">
        {% csrf_token %}

        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">Add Dish</h2>
                <div class="mb-3">
                    <label>name:</label><br>
                    <input type="text" name="name">
                </div>
    
                <div class="mb-3">
                    <label>Dish description:</label><br>
                    <input type="text" name="description">
                </div>
    
                <div class="mb-3">
                    <label>Dish price:</label><br>
                    <input type="text" name="price">
                </div>
    
                <div class="mb-3">
                    <label>Dish image link:</label><br>
                    <input type="text" name="image">
                </div>
    
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input">
                    <label>Veg</label><br>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
    {% endblock %}

</body>

</html>

<!-- <label>Dish name::</label><br><br>
<input type="text" name="name">
<br>

<label>Dish description::</label><br><br>
<input type="text" name="description">
<br>

<label>Dish price::</label><br><br>
<input type="text" name="price">
<br>

<label>Dish image link::</label><br><br>
<input type="text" name="image">
<br>
<br>

<input type="submit" value="Submit"> -->